{% extends "base.html" %}

{% block title %}
Camping Advisor
{% endblock %}

{% block content %}
<!-- Page Content-->
<div class="container">
    <!-- Jumbotron Header-->
    <header class="jumbotron my-4">
        <h1 class="display-3">Bem vindo <br> ao Camping Advisor </h1>
        <p class="catchprase">Onde estão os melhores locais de camping do Brasil.</p>
        <a class="btn btn-primary btn-lg" href="#!">Bora Acampar?</a>
    </header>
    <!-- Page Features-->
    <p class="section-text">
        Melhores Destinos:
    </p>
    <br>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="static\assets\destination 1 poland.jpg" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">Montanhas da Polônia</h4>
                        <p class="card-text">4 dias de aventura com um dos nossos melhores guias!</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-danger" href="#!">Esgotado!</a></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="static\assets\destination 2 - poland.jpg" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">Trilhas Polonesas</h4>
                        <p class="card-text">6 dias de passeio com vistas estonteantes!</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-danger" href="#!">Esgotado!</a></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="static\assets\destination 3 UK.jpg" width="245.5" height="163" alt="" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">Reino Unido Selvagem</h4>
                        <p class="card-text">Gosta de senhor dos anéis? Então seu destino é a Nova Zelândia e não o Reino Unido! 5 dias de viagem!</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-danger" href="#!">Esgotado!</a></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="static\assets\destination 4 Austria.jpg" alt="..." />
                    <div class="card-body">
                        <h4 class="card-title">Picos da Austria</h4>
                        <p class="card-text">Falta de oxigênio vai ser o menor de seus problemas nos picos mais altos da Austria. Viagem de 4 dias.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-danger" href="#!">Esgotado!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
